<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Graftel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5DA64B781D5A28C8009D81C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DA64B8F1D5A28C9009D81C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DA64B9A1D5A28C9009D81C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
